@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
*{
    box-sizing: border-box
}
:root{
    --header-back: #5964e0;
    --header-hover: #3f437e;
    --background: #e0e1f1;
    --letters-light: #f2f2ff;
    --borders: #80809b;
    --text-col: #1e1f2b;
    --shadow: rgba(12, 5, 109, 0.05);
    --table-background: #fff;
}

form{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
html{
     font-size: 62.5%;
}
ul{
    list-style-type: none;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text-col);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem)
}

main{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}

h1 {
    font-size: clamp(2rem, 4vw, 4rem);
}

h1:hover{
    font-size: clamp(2rem, 4vw, 4rem);
}

input{
    height: 30px;
    border: none;
    outline: none;
    width: 100%;
    background:var(--background);
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
}
textarea{
    height: 70px;
    border: none;
    outline: none;
    width: 100%;
    background:var(--background);
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
}
select{
    height: 30px;
    border: none;
    outline: none;
    width: 100%;
    background:var(--background);
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
}
.form-inline{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: stretch;
}
.window-input{
    background-color: var(--table-background)
}
.form-item{
    gap: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.header{
    justify-items: center;
    background-color: var(--header-back);
    color: var(--letters-light);
    width: 100%; 
    padding: 1%;
    box-shadow: 0 2px 10px var(--shadow);
}

.nav-panel{
    display: flex;
    flex-direction: row;
}

.nav-item{
    padding: 10px;
    border-radius: 5px;
    
}

.nav-panel a:visited,
.nav-panel a:hover,
.nav-panel .nav-item {
    color: var(--letters-light);
    text-decoration: none;
}
.nav-item:hover{
    background-color:hsl(from var(--header-back) h s 30%)
}

button{
    background-color: var(--header-back);
    color: var(--letters-light);
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
}
button:hover{
    background-color: hsl(from var(--header-back) h s 30%)
}
.fired{
    opacity: 0.2;
    background-color:var(--borders)
}
.button-row{
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items:center
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
.icon:hover{
    width: 1.7rem;
    height: 1.7rem;
}
.table-grid {
  display: grid; 
  gap: 1px; 
  align-items: stretch;
  width: 100%;
  background-color: var(--table-background);
  padding: 5px;
  box-shadow: 0 2px 10px rgba(12, 5, 109, 0.05);
  border-radius: 2px;
  overflow-x: auto;
}

.table-employees{
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr auto ;
}
.table-history{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto ;
}
.table-users{
    grid-template-columns: 1fr 1fr 1fr 1fr auto ;
}
.table-operations{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto ;
}

.table-header{
    background-color: var(--header-back);
    color: var(--letters-light);
    border:  1px solid var(--letters-light);
    padding: 10px;
}

.table-item{
    padding: 10px;
    border-bottom: 1px solid rgba(110, 110, 110, 0.2);
    border-right:  1px solid rgba(110, 110, 110, 0.2);
}


.table-item-edit{
    display: flex;
    justify-content: space-between;
    align-items:center
    
}
.table-item:hover{
    background-color: hsl(from var(--table-background) h s 90%);
    border-left: 1px solid var();
}

.table-header:hover{
    background-color: hsl(from var(--header-back) h s 30%);
}

.block {
  background: var(--table-background);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 2px 10px rgba(12, 5, 109, 0.05);
  border-radius: 2px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal{
    max-height: 70vh;
}
.org-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.2rem;
}
.arrow{
    transform: scaleX(1.7)  scaleY(0.7);
    transform-origin: center;
    font-weight: 10;
}

@media(max-width: 416px){
    .form_inline{
        flex-direction: column;
    }
}